/* card infromações*/
.section-informações {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.section-informações .card-informacoes {
  width: 900px;
  height: 460px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 70px;
  margin-top: 40px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.section-informações .card-informacoes:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.section-informações .card-informacoes .top {
  height: 100px;
  border-radius: 6px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 60px;
}
/* imagem*/
.section-informações .card-informacoes .top .image-container {
  background-color: var(--secundary-color);
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.1s ease;
  transition: 0.5s ease;
}
.section-informações .card-informacoes .top .image-container img {
  background-color: var(--secundary-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.section-informações .card-informacoes .top .image-container img:hover {
  transform: scale(1);
  margin-bottom: 40px;
}

.section-informações .card-informacoes .button {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.status {
  display: flex;
  position: relative;
  margin-bottom: -55px;
  font-weight: 600;
  left: 150px;
  bottom: 22px;
  transition: color 0.3s ease-in-out;
}
.statusAberto {
  color: green;
  margin-left: 7px;
}
.statusFechado {
  color: red;
  margin-left: 7px;
}

.divEndereco,
.divHorarioIcon {
  display: flex;
  justify-content: center;
}

.divEndereco .enderecoIcon {
  font-size: 16px;
  margin-top: 28px;
  margin-right: 5px;
}

.section-informações .card-informacoes .button .div-atalhos .btn {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

/* nome */
.section-informações .card-informacoes .button h3 {
  font-size: 1.6rem;
  margin-top: 80px;
  font-weight: 600;
}

/*endereço */

.section-informações .card-informacoes .button p {
  margin-top: 20px;
  font-size: 20px;
}

/* atalhos */
.section-informações .card-informacoes .button hr {
  width: 100%;
  margin-top: 30px;
  border: solid 4px var(--primary-color);
}
.section-informações .card-informacoes .button .div-atalhos {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  right: 25px;
}
.section-informações .card-informacoes .button .div-atalhos ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.section-informações .card-informacoes .button .div-atalhos ul li {
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-left: 3px;
  margin-right: 3px;
}
.section-informações .card-informacoes .button .div-atalhos ul li .btn {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 17px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 12px;
  padding: 20px;
}

.section-informações .card-informacoes .button .div-atalhos ul li .btn:hover {
  mix-blend-mode: hard-light;
  opacity: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* card */
  .section-informações .card-informacoes {
    width: 90%;
    height: 470px;
    margin-top: 5px;
  }
  .section-informações .card-informacoes .top .image-container {
    width: 130px;
    height: 130px;
  }
  .status {
    left: -15px;
  }
  .divEndereco .enderecoIcon {
    margin-top: 25px;
  }
  .section-informações .card-informacoes .button p {
    font-size: 16px;
    margin-top: 20px;
  }
  /* atalhos */
  .section-informações .card-informacoes .button hr {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    border: solid 3px var(--primary-color);
    background-color: var(--primary-color);
  }
  .section-informações .card-informacoes .button .div-atalhos ul li {
    margin-top: 10px;
  }
  .section-informações .card-informacoes .button .div-atalhos ul li .btn {
    font-size: 13px;
  }

  .section-informações .card-informacoes .button .div-atalhos {
    top: 0px;
  }
}
