/* card informações */
.sectionInformacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.sectionInformacoes .cardInformacoes {
  width: 900px;
  height: 460px;
  background-color: #f9f9f9;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 70px;
  margin-top: 40px;
}

.sectionInformacoes .cardInformacoes:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sectionInformacoes .cardInformacoes .top {
  height: 100px;
  border-radius: 6px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 60px;
}

/* imagem */
.sectionInformacoes .cardInformacoes .top .imageContainer {
  background-color: var(--secundary-color);
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.1s ease;
  transition: 0.5s ease;
}

.sectionInformacoes .cardInformacoes .top .imageContainer img {
  background-color: var(--secundary-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sectionInformacoes .cardInformacoes .top .imageContainer img:hover {
  transform: scale(1);
  margin-bottom: 40px;
}

.sectionInformacoes .cardInformacoes .button {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.status {
  display: flex;
  position: relative;
  margin-bottom: -55px;
  font-weight: 600;
  left: 150px;
  bottom: 22px;
  transition: color 0.3s ease-in-out;
}

.statusIcon {
  font-size: 25px;
}

.statusAberto {
  color: green;
  margin-left: 7px;
}

.statusFechado {
  color: red;
  margin-left: 7px;
}

.divEndereco,
.divHorarioIcon {
  display: flex;
  justify-content: center;
}

.divEndereco .enderecoIcon {
  font-size: 16px;
  margin-top: 28px;
  margin-right: 5px;
}

.sectionInformacoes .cardInformacoes .button .divAtalhos .btn {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

/* nome */
.sectionInformacoes .cardInformacoes .button h3 {
  font-size: 1.6rem;
  margin-top: 80px;
  font-weight: 600;
}

/* endereço */
.sectionInformacoes .cardInformacoes .button p {
  margin-top: 20px;
  font-size: 20px;
}

/* atalhos */
.sectionInformacoes .cardInformacoes .button hr {
  width: 100%;
  margin-top: 30px;
  border: solid 4px var(--primary-color);
}

.sectionInformacoes .cardInformacoes .button .divAtalhos {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  right: 25px;
}

.sectionInformacoes .cardInformacoes .button .divAtalhos ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.sectionInformacoes .cardInformacoes .button .divAtalhos ul li {
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-left: 3px;
  margin-right: 3px;
}

.sectionInformacoes .cardInformacoes .button .divAtalhos ul li .btn {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 17px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 12px;
  padding: 20px;
}

.sectionInformacoes .cardInformacoes .button .divAtalhos ul li .btn:hover {
  mix-blend-mode: hard-light;
  opacity: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* card */
  .sectionInformacoes .cardInformacoes {
    width: 90%;
    height: 470px;
    margin-top: 5px;
  }

  .sectionInformacoes .cardInformacoes .top .imageContainer {
    width: 130px;
    height: 130px;
  }

  .status {
    left: -15px;
  }

  .statusIcon {
    font-size: 18px;
  }

  .divEndereco .enderecoIcon {
    margin-top: 25px;
  }

  .sectionInformacoes .cardInformacoes .button p {
    font-size: 16px;
    margin-top: 20px;
  }

  /* atalhos */
  .sectionInformacoes .cardInformacoes .button hr {
    width: 100%;
    height: 7px;
    margin-top: 20px;
    border: solid 3px var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 8px;
  }

  .sectionInformacoes .cardInformacoes .button .divAtalhos ul li {
    margin-top: 10px;
  }

  .sectionInformacoes .cardInformacoes .button .divAtalhos ul li .btn {
    font-size: 13px;
  }

  .sectionInformacoes .cardInformacoes .button .divAtalhos {
    top: 0px;
  }
}
