.contactInfo {
  display: flex;
  width: 100%;
  max-width: 900px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contactInfo .card {
  background-color: var(--primary-color);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secundary-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contactInfo .card .icon {
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s linear;
  filter: invert(0);
}

.contactInfo .card h4 {
  margin-bottom: 10px;
}
.contactInfo .card p {
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  font-size: 13px;
}

.contactInfo .card p {
  max-height: 40px;
  opacity: 1;
}
.buttonEspecialidades {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  /* contato */
  .contactInfo {
    flex-direction: column;
  }
  .contactInfo .card {
    width: 100%;
    margin: 10px 0;
  }
}
