.card-especialidades{
    display: flex;
    justify-content: center;
    width: 900px;
    box-shadow: 20px 20px 50px -30px #4169e1;
    border-radius: 15px;
    margin-top: 20px;
    

}

@media (max-width: 768px) {
   .card-especialidades{
    width: 80%;
   }
  }
  