.sectionGaleria {
  background-color: white;
  width: 900px;
  height: 500px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 30px;
}

.sectionGaleria h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
}
.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -60px;
}

.image {
  width: 250px;
  height: 250px;
  margin: 7px;
}
.imagens {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
.buttonGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGaleria button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 12px;
  margin-top: -100px;
  color: white;
  margin-bottom: 30px;
}

.buttonGaleria button:hover {
  mix-blend-mode: hard-light;
  opacity: 100%;
  cursor: pointer;
}
.carrosselOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}

.carouselContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carrosselOverlay .carousel-control-prev,
.carrosselOverlay .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carrosselOverlay .carousel-control-prev {
  left: -40px;
}

.carrosselOverlay .carousel-control-next {
  right: -40px;
}

.carrosselOverlay .carousel-control-prev,
.carrosselOverlay .carousel-control-next {
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .sectionGaleria {
    width: 90%;
    height: 700px;
  }
  .galeria {
    flex-direction: column;
  }
  .buttonGaleria button {
    margin-bottom: 0px;
  }
}
