.sectionHorario {
  padding: 45px;
  background-color: #ffffff;
  width: 900px;
  height: 450px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.horario {
  width: 900px;
}
.sectionHorario .table {
  margin-top: 15px;
}

@media (max-width: 768px) {
  /* horario */
  .sectionHorario {
    width: 90%;
    height: 100%;
    padding: 30px;
  }
  .horario {
    width: 90%;
  }
}
