.section-horario {
  padding: 45px;
  background-color: white;
  width: 930px;
  height: 385px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 20px 20px 50px -30px #4169e1;
  margin-bottom: 60px;
}

.section-horario .table {
  margin-top: 15px;
}

@media (max-width: 768px) {
  /* horario */
  .section-horario {
    width: 90%;
    height: 100%;
    padding: 30px;
  }
}
