.App {
  text-align: center;
}
.App .div-mapa {
  width: 900px;
  height: 450px;
  box-shadow: 20px 20px 50px -30px #4169e1;
}

@media (max-width: 768px) {
  .App .div-mapa {
    height: 350px;
    width: 320px;
  }
}
