/*contato */
.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-info .card {
  background-color: var(--primary-color);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secundary-color);
  cursor: pointer;
}

.contact-info .card .icon {
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s linear;
  filter: invert(0);
}

.contact-info .card h4 {
  margin-bottom: 10px;
}
.contact-info .card p {
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  font-size: 13px;
}

.contact-info .card p {
  max-height: 40px;
  opacity: 1;
}
.button-especialidades {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  /* contato */
  .contact-info {
    flex-direction: column;
  }
  .contact-info .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
