/* fale consoco */

.sectionForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.divLogo .imageLogo {
  width: 100px;
  height: 100px;
}
.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-top: 130px;
  margin-bottom: 70px;
}
.divInputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.divInputs input,
.divInputs textarea,
.divButton button {
  margin-top: 30px;
}
.divInputs input {
  border: none;
  outline: none;
  height: 25px;
  margin-bottom: 5px;
}

.divInputs label {
  margin-bottom: -30px;
  color: var(--secundary-color);
}

.divInputs textarea {
  width: 400px;
  outline: none;
}
.divInputs textarea::placeholder {
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 20px;
}
.divButton button {
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.divButton {
  display: flex;
  justify-content: center;
}

.divButton button:hover {
  background-color: var(--secundary-color);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

@media (max-width: 768px) {
  .sectionForm {
    width: 100%;
  }
  .divForm {
    width: 320px;
  }
  .divLogo img {
    width: 100px;
  }

  .divInputs textarea {
    width: 200px;
    height: 200px;
  }
}
