/* Footer.module.css */
.footerDistributed {
  background: var(--primary-color);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: left;
  padding: 55px 50px;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight {
  display: inline-block;
  vertical-align: middle;
}

/* Footer left */
.footerDistributed .footerLeft {
  width: 40%;
}
.footerDistributed .footerLeft p {
  color: var(--secundary-color);
}
/*  logo */
.footerDistributed h3 {
  color: var(--secundary-color);
  margin-bottom: 5px;
}

/* Footer links */

.footerDistributed .footerLinks {
  color: var(--secundary-color);
  margin: 20px 0 12px;
  padding: 0;
}

.footerDistributed .footerLinks a {
  display: inline-block;
  line-height: 1.8;
  color: inherit;
}

/* Footer Center */

.footerDistributed .footerCenter {
  width: 35%;
}

.footerDistributed .footerCenter p a {
  color: lightseagreen;
  text-decoration: none;
}

.footerDistributed .footerLinks .link1:before {
  content: none;
}
/* Footer Right */
.footerDistributed .footerRight {
  width: 23%;
}

.footerDistributed .footerRight p {
  color: var(--secundary-color);
  margin-top: 20px;
  text-align: justify;
}

/* Imagem no rodapé */
.footerDistributed img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  margin-left: 25px;
}

@media (max-width: 768px) {
  /* Rodapé */
  .footerDistributed .footerLeft,
  .footerDistributed .footerCenter,
  .footerDistributed .footerRight {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
}
