/* horário */

.section-horario {
  padding: 45px;
  background-color: var(--primary-color);
  width: 900px;
  height: 400px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--shadow);
  margin-bottom: 60px;
}

.section-horario .table {
  margin-top: 15px;
}

@media (max-width: 768px) {
  /* horario */
  .section-horario {
    width: 90%;
    padding: 30px;
  }
}
