main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.section-titulo h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 130px;
  font-size: 35px;
}
.section-titulo h2,
.section-titulo p {
  text-align: justify;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 25px;
}
/* informações */
.section-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.div-info {
  width: 800px;
  height: 300px;
  border-radius: var(--card-radius);
  text-align: justify;
  padding: 15px;
  margin-top: 40px;
}
.div-info h3 {
  text-align: center;
}
main .section-sobre-titulo {
  margin: 20px;
}
.section-sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: var(--card-radius);
  box-shadow: 20px 20px 50px -30px var(--primary-color);
}
.div-sobre h1 {
  color: var(--secundary-color);
  margin-top: 30px;
}

.section-sobre {
  flex-direction: column;
  width: 900px;
  height: 408px;
}
.div-sobre {
  margin-left: 0px;
  margin-bottom: 0px;
}

.img-sobre img {
  width: 300px;
  height: 300px;
  margin-right: 0px;
  margin-bottom: 30px;
}

/* section informações */
.section-informações {
  width: 93%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .section-sobre {
    flex-direction: column;
    width: 90%;
    height: 450px;
  }
  .div-sobre h1 {
    margin-top: 100px;
  }
  .section-sobre .img-sobre img {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }
}
