/* parte principal*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* atalhos */
.top-atalhos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
}

.top-atalhos ul {
  display: flex;
}
.top-atalhos li {
  list-style: none;
  margin: 5px;
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.top-atalhos li a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 12px;
}
.top-atalhos li a:hover {
  mix-blend-mode: hard-light;
  opacity: 100%;
  cursor: pointer;
}

/* mapa */
.div-mapa {
  position: relative;
  margin-top: 50px;
  width: 900px;
  height: 300px;
  margin-bottom: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  z-index: 0;
}
@media (max-width: 768px) {
  /* atalhos */
  .top-atalhos {
    justify-content: center;
    margin-right: 30px;
  }

  .top-atalhos ul {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .top-atalhos li a {
    font-size: 18px;
  }
  .div-mapa {
    width: 90%;
    position: relative;
  }
}
