.section-card-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-container {
  width: 900px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 20px 20px 50px -30px #4169e1;
  margin: 40px;
}

.card-container:hover .div-button-ver-mais {
  mix-blend-mode: hard-light;
  cursor: pointer;
}

.card-container .top {
  height: 100px;
  border-radius: 6px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.card-container .top .image-container {
  background-color: var(--secundary-color);
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.1s ease;
  margin-top: 30px;
  transition: 0.5s ease;
}

.card-container .top .image-container img {
  background-color: var(--secundary-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  max-width: 100%;
}

.card-container .button {
  background-color: var(--secundary-color);
  padding: 20px;
  padding-top: 60px;
  text-align: center;
}
.card-container .button .icon {
  margin-top: 30px;
  margin-bottom: -25px;
}
.card-container .button h3 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
  margin-top: 55px;
}

.card-container .button p {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  font-size: 20px;
}

.card-container .button .div-ver-mais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.card-container .button .div-button-ver-mais,
.card-container .button .div-ver-mais .div-button-ver-mais-hospitais {
  width: 150px;
  height: 30px;
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
}

.card-container .button .div-ver-mais .div-button-ver-mais {
  margin-top: 50px;
}

.card-container .button .div-ver-mais .div-button-ver-mais-hospitais {
  margin-top: 35px;
}

.card-container .button .div-ver-mais .div-button-ver-mais a,
.card-container .button .div-ver-mais .div-button-ver-mais-hospitais a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--secundary-color);
  text-decoration: none;
  font-size: 20px;
}

/* Responsividade */

@media (max-width: 768px) {
  .card-container {
    width: 300px;
    height: 100%;
    border-radius: 20px;
  }

  .card-container .button h3 {
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .card-container .button {
    padding-top: 50px;
    text-align: center;
  }

  .card-container .button .btn-margin {
    margin-top: -40px;
  }

  .div-endereco .endereco-icon,
  .div-horario-icon .horario-icon {
    position: relative;
    margin-top: 20px;
    left: 15px;
  }

  .div-horario-icon .horario-icon-sabado {
    position: relative;
    margin-top: 20px;
    left: 15px;
    font-size: 14px;
  }

  .card-container .button p {
    margin: 20px;
    font-size: 12px;
  }

  .card-container .top .image-container {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

  .card-container .top {
    height: 60px;
  }

  .card-container .button .div-ver-mais .div-button-ver-mais,
  .card-container .button .div-ver-mais .div-button-ver-mais-hospitais {
    width: 120px;
    height: 25px;
  }

  .card-container .button .div-ver-mais .div-button-ver-mais {
    margin-top: 40px;
  }

  .card-container .button .div-ver-mais .div-button-ver-mais-hospitais {
    margin-top: 25px;
  }

  .card-container .button .div-ver-mais .div-button-ver-mais a,
  .card-container .button .div-ver-mais .div-button-ver-mais-hospitais a {
    font-size: 15px;
  }
}

@media (max-width: 361px) {
  .card-container {
    width: 265px;
  }
}
