section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 50px;
  color: white;
  background-color: #191818;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
}
fieldset {
  border: 3px solid #00285f;
}
legend {
  border: 1px solid #00285f;
  padding: 10px;
  text-align: center;
  background-color: #00285f;
  border-radius: 8px;
  margin-bottom: 30px;
}
.inputBox {
  position: relative;
  margin: 40px;
}
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
  margin-top: -15px;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -15px;
  font-size: 12px;
  color: #00285f;
}
#data_nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
#submit {
  background-image: linear-gradient(to right, #00285f, rgb(90, 20, 220));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover {
  background-image: linear-gradient(to right, #00285f, rgb(80, 19, 195));
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 15px;
  margin: 50px;
  color: white;
  background-color: #191818;
  padding: 15px;
  border-radius: 15px;
  width: 20%;
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .box {
    width: 85%;
  }
}
