.main-content {
  width: 100%;
  margin-top: 135px;
}
.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
/* cade de progressão */
.card {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 3px;
  margin-left: 3.5px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-head h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.card-head span {
  font-size: 3.2rem;
  color: grey;
}

.card-progress small {
  color: #777;
  font-size: 0.8rem;
  font-weight: 600;
}

.card-indicator {
  margin: 0.7rem 0rem;
  height: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
}

.indicator {
  height: 10px;
  border-radius: 4px;
}

.indicator.roxo {
  background-color: purple;
}

.indicator.verde {
  background-color: green;
}

.indicator.azul {
  background-color: blue;
}
/* registros */
.registros {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro-header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add,
.browse {
  display: flex;
  align-items: center;
}

.add span {
  display: inline-block;
  margin-right: 0.6rem;
  font-size: 0.9rem;
  color: #666;
}

input,
button,
select {
  outline: none;
}

.add select,
.browse input,
.browse select {
  height: 35px;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  display: inline-block;
  width: 75px;
  padding: 0rem 0.5rem;
  margin-right: 0.8rem;
  color: #666;
}

.table-responsive {
  width: 100%;
}

/*buttons do catálogo*/
.div-buttons-catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-buttons-catalogo .buuton-prox-ant {
  width: 147px;
  height: 42px;
  background-color: var(--primary-color);
  border-radius: var(--button-radius);
  margin-left: 10px;
  margin-right: 10px;
}

.div-buttons-catalogo .buuton-prox-ant a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secundary-color);
  width: 100%;
  height: 100%;
}
.div-buttons-catalogo .button-catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 56px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.div-buttons-catalogo .button-catalogo a {
  display: flex;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-buttons-catalogo .buuton-prox-ant:hover {
  cursor: pointer;
  mix-blend-mode: hard-light;
  opacity: 100%;
}
.div-buttons-catalogo .button-catalogo a:hover {
  background-color: gray;
}

.main-content {
  margin-left: 0;
  width: 100%;
}
.button-novo-usuario {
  margin-top: 20px;
  width: 200px;
}
.titulo {
  margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .analytics {
    grid-template-columns: 100%;
  }

  .main-content {
    width: 100%;
  }
  .button-novo-usuario {
    width: 110px;
  }
  .card {
    margin-left: 0px;
  }
  /* buttons do catalógo*/
  .div-buttons-catalogo .buuton-prox-ant {
    width: 73px;
    height: 24px;
  }
  .div-buttons-catalogo .buuton-prox-ant a {
    font-size: 12px;
  }
  .div-buttons-catalogo .button-catalogo {
    width: 28px;
    height: 24px;
  }
}
