.main-content {
  margin-top: 135px;
  margin-left: 0;
  width: 100%;
}
.button-novo-usuario {
  margin-top: 20px;
  width: 200px;
}
.titulo {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }
  .button-novo-usuario {
    width: 110px;
  }
}
