.main {
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
}

.box-endereco {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-self: center;
  width: 930px;
  height: 100vh;
}
.box-endereco .img-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px 0 0 20px;
}
.box-endereco .img-box img {
  width: 100%;
}
.box-endereco .form-box {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  width: 50%;
  border-radius: 0 20px 20px 0;
  height: 100vh;
}
.box-endereco h2 {
  font-size: 30px;
  color: black;
}
.box-endereco .form-box p {
  color: black;
}
.box-endereco .form-box p a {
  color: black;
  text-decoration: underline;
}
.box-endereco .form-box form {
  margin: 20px 0;
}
.box-endereco .form-box form .input-group {
  margin-bottom: 15px;
}
.box-clinica .form-box form .input-group label {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.box-endereco .form-box form .input-group input,
form .input-group select {
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: black;
  transition: all 0.4s ease;
}

.box-endereco .form-box form .input-group select {
  padding: 0px;
}
.box-endereco .form-box form .select {
  margin-top: 8px;
}
form .input-group select option {
  text-align: center;
}

.box-endereco .form-box form .input-group input:focus {
  border-color: #ff008869;
}
.box-endereco .form-box form .input-group button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  background: white;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.box-endereco .form-box form .input-group button:hover {
  background-color: #4169e1;
}
@media (max-width: 768px) {
  .box-endereco .form-box h2 {
    font-size: 22px;
  }
  .box-endereco .img-box {
    display: none;
  }
  .box-endereco {
    width: 100%;
  }
  .box-endereco .form-box {
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 20px;
    border-radius: 0px;
  }
  .box-form {
    background-color: var(--primary-color);
    width: 100%;
  }
  .box-form .form-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  .w50 {
    width: 100%;
    padding: 0;
  }
}
