.buttonGroup a {
  width: 100%;
}
.buttonPrimary {
  background-color: #007bff;
  color: white;
}

.buttonSuccess {
  background-color: #28a745;
  color: white;
}

.buttonDanger {
  background-color: #dc3545;
  color: white;
}
