.box-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}
.box-form .img-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 25%;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px 0 0 20px;
}
.box-form .img-box img {
  width: 100%;
}
.box-form .form-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 40px;
  width: 25%;
  height: 400px;
  border-radius: 0 20px 20px 0;
}
.box-form .form-box h2 {
  font-size: 30px;
  color: black;
}
.box-form .form-box p {
  color: black;
}
.box-form .form-box p a {
  color: crimson;
  text-decoration: underline;
}
.box-form .form-box form {
  margin: 20px 0;
}
.box-form .form-box form .input-group {
  margin-bottom: 15px;
}
.box-form .form-box form .input-group label {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.box-form .form-box form .input-group input {
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: black;
  transition: all 0.4s ease;
}

.box-form .form-box form .input-group input:focus {
  border-color: #ff008869;
}
.box-form .form-box form .input-group .button-entrar {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 47px;
  background: white;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
.box-form .form-box form .input-group .button-entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
}
.box-form .form-box form .input-group .button-entrar:hover {
  background-color: #4169e1;
}
@media (max-width: 768px) {
  .box-form .form-box {
    background-color: var(--primary-color);
  }
  .box-form .form-box h2 {
    font-size: 22px;
  }
  .box-form .img-box {
    display: none;
  }
  .box-form {
    background-color: #4169e1;
    width: 100%;
  }
  .box-form .form-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
  }
}
