.error {
  color: #f00;
  text-align: center;
}

.select {
  width: 400px;
}

.sectionForm {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.divLogo {
  display: flex;
  justify-content: center;
}

.divLogo .imageLogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.divForm,
.divFormUnidadesDeSaude {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: "absolute";
  left: 50%;
  top: 50%;
}
.divFormUnidadesDeSaude {
  margin-top: 144px;
}
.divInputs,
.divHorario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.divHorarios {
  display: flex;
  justify-content: space-between;
}

.divInputs input,
.divInputs textarea,
.divButton button {
  margin-top: 30px;
}

.divInputs input {
  outline-color: var(--primary-color);
  margin-bottom: 5px;
  border-radius: 7px;
  height: 35px;
  border: none;
}

.divInputs label {
  margin-bottom: -26px;
  color: var(--secundary-color);
}

.divInputs .divHorarios .divHorario input {
  max-width: 100%;
  width: 100%;
  border-radius: 7px;
  height: 35px;
  outline-color: var(--primary-color);
}

.upload {
  max-width: 100%;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 7px;
}

.divInputs textarea {
  width: 400px;
  border-radius: 7px;
}

.divInputs textarea::placeholder {
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 20px;
}

.divInputs input.erro,
.divInputs .divHorarios .divHorario input.erro,
.divInputs input.erro,
.divInputs .divHorarios .divHorario input.erro {
  border: 2px solid #f00;
  outline: none;
}

.divInputs input:focus,
.divInputs .divHorarios .divHorario input:focus,
.divInputs input.erro:focus,
.divInputs .divHorarios .divHorario input.erro:focus {
  border: 2px solid #f00;
  outline: none;
}

.divInputs input:focus,
.divInputs textarea:focus {
  border: 2px solid #07a;
  outline: none;
}

.divButtonSubmit {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.divButtonSubmit .button {
  width: 400px;
  height: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.button:hover {
  opacity: 0.8;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: white;
}

@media (max-width: 768px) {
  .sectionForm {
    width: 100%;
    background-color: var(--primary-color);
  }
  .divForm {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .divLogo .imageLogo {
    width: 85px;
    height: 85px;
  }
  .divInputs input {
    border: none;
    margin-bottom: 5px;
    width: 220px;
  }
  .divButton input:focus {
    background-color: #f00;
  }
  .divInputs .divHorarios .divHorario input {
    border: none;
    outline: none;
    width: 220px;
  }
  .divInputs textarea {
    width: 215px;
    height: 220px;
  }
  .select {
    width: 220px;
  }
  .divButtonSubmit .button {
    width: 220px;
    margin-bottom: 30px;
  }
}
