.error {
  color: #f00;
}
.select {
  width: 400px;
}
.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-logo {
  display: flex;
  justify-content: center;
}
.div-logo .image-logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
.div-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.div-inputs,
.div-horario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.div-horarios {
  display: flex;
  justify-content: space-between;
}
.div-inputs input,
.div-inputs textarea,
.div-button button {
  margin-top: 30px;
}
.div-inputs input {
  outline-color: #f00;
  height: 25px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px;
}

.div-inputs label {
  margin-bottom: -30px;
  color: var(--secundary-color);
}
.div-inputs .div-horarios .div-horario input {
  max-width: 100%;
  outline: none;
  width: 100%;

}
.upload {
  max-width: 100%;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.div-inputs textarea {
  width: 400px;
  outline-color: #f00;
  border-radius: 5px;
}
.div-inputs textarea::placeholder {
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 20px;
}
.div-button-submit button {
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
button:hover {
  background-color: var(--secundary-color);
}
.div-button-submit {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: white;
}

@media (max-width: 768px) {
  .section-form {
    width: 100%;
  }
  .div-form {
    width: 320px;
  }
  .div-logo img {
    width: 100px;
  }
  .div-inputs input {
    border: none;
    outline: none;
    height: 25px;
    margin-bottom: 5px;
    width: 215px;

  }

  .div-inputs .div-horarios .div-horario input {
    border: none;
    outline: none;
    width: 215px;
  }
  .div-inputs textarea {
    width: 200px;
    height: 200px;
  }
  .select {
    width: 215px;
  }
}
