.pesquisaForm {
  box-shadow: none;
  width: 350px;
  height: 70px;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .pesquisaForm {
    box-shadow: none;
    width: 140px;
    height: 40px;
    border: 1px solid black;
  }
}
