.link {
  text-decoration: none;
}
.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.card {
  border: 0.2rem solid hsl(211, 68%, 94%);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 7px;
  margin-left: 3.5px;
  margin-right: 3.5px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHead h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}

.cardHead span {
  font-size: 3.2rem;
  color: grey;
}

.cardProgress small {
  color: #777;
  font-size: 0.8rem;
  font-weight: 600;
}

.cardIndicator {
  margin: 0.7rem 0rem;
  height: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
}

.indicator {
  height: 10px;
  border-radius: 4px;
}

.indicatorRoxo {
  background-color: purple;
}

.indicatorVerde {
  background-color: green;
}

.indicatorAzul {
  background-color: blue;
}

.indicatorAmarelo {
  background-color: yellow;
}

.registros {
  border: 0.1rem solid hsl(211, 68%, 94%);
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registroHeader {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add,
.browse {
  display: flex;
  align-items: center;
}

.add span {
  display: inline-block;
  margin-right: 0.6rem;
  font-size: 0.9rem;
  color: #666;
}

@media only screen and (max-width: 1200px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .analytics {
    grid-template-columns: 100%;
  }

  .mainContent {
    width: 100%;
  }

  .card {
    margin-left: 0px;
  }
}
