.divSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divSearch .inputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47rem;
  height: 7rem;
  background-color: var(--secundary-color);
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 2.5rem;
}

.divSearch .inputSearch:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.divSearch .inputSearch input {
  width: 35rem;
  height: 3rem;
  background-color: #eeeeee;
  border-radius: 2.5rem;
  outline-color: var(--primary-color);
  border: none;
}

.divSearch .inputSearch input::placeholder {
  color: gray;
}

.divSearch .inputSearch .buttonSearch button {
  width: 9rem;
  height: 3rem;
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secundary-color);
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
}

.divSearch .inputSearch .buttonSearch button:hover {
  mix-blend-mode: hard-light;
  opacity: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .divSearch .inputSearch {
    width: 310px;
    height: 70px;
    border-radius: 50px;
  }

  .divSearch .inputSearch input {
    width: 180px;
    height: 30px;
    background-color: #eeeeee;
    border-radius: 8px;
  }

  .divSearch .inputSearch .buttonSearch {
    width: 70px;
    height: 30px;
  }

  .divSearch .inputSearch .buttonSearch button {
    width: 80px;
    height: 30px;
    font-size: 15px;
  }

  .divSearch .inputSearch input::placeholder {
    font-size: 10px;
  }
}
