.div-select-filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
}

.div-select-filtros .div-button {
  display: flex;
  justify-content: center;
  margin: 3px;
  height: 2.8rem;
  margin-top: 2.5rem;
}

.select-element-filtros-1 {
  width: 120px;
}
.select-element-filtros-2 {
  width: 160px;
}

@media (max-width: 768px) {
  .div-select-filtros .div-button {
    height: 40px;
    border-radius: 17px;
  }
}
