/* Filtros.module.css */
.divSelectFiltros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
}

.divSelectFiltros .divButton {
  display: flex;
  justify-content: center;
  margin: 3px;
  height: 2.8rem;
  margin-top: 2.5rem;
}

.selectElementFiltros1 {
  width: 120px;
}
.selectElementFiltros2 {
  width: 160px;
}

@media (max-width: 768px) {
  .divSelectFiltros .divButton {
    height: 40px;
    border-radius: 17px;
  }
}
