.div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-buttons .div-button {
  width: 10rem;
  height: 2.8rem;
  margin-top: 2.5rem;
  margin-right: 1rem;
}

.div-buttons .div-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--secundary-color);
  text-decoration: none;
}

.div-buttons .div-button select {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-size: 1rem;
  border-radius: 25px;
}
.div-buttons .div-button select option {
  text-align: center;
}

@media (max-width: 768px) {
  .div-buttons .div-button {
    width: 165px;
    height: 40px;
    margin-right: 2px;
    border-radius: 17px;
    margin-left: 2px;
  }

  .div-buttons .div-button select {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
  }
}
