.sectionSlogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47rem;
  height: 22rem;
  background-color: var(--primary-color);
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
  margin-top: 120px;
}

.sectionSlogan .divContent {
  margin-left: 5rem;
}

.sectionSlogan .divContent h1 {
  font-size: 3rem;
}

.sectionSlogan .divContent h1,
.sectionSlogan .divContent p {
  color: var(--secundary-color);
}

.sectionSlogan .divContent img {
  font-size: 3rem;
  margin-bottom: 15px;
}

.sectionSlogan .divContent p {
  font-size: 2em;
}

.imgSlogan img {
  width: 263.04px;
  height: 203.61px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .sectionSlogan {
    flex-direction: column;
    width: 300px;
    height: 350px;
    position: relative;
  }

  .sectionSlogan .divContent {
    margin-left: 0;
    margin-bottom: 0;
  }

  .sectionSlogan .divContent h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
  }

  .sectionSlogan .divContent p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .sectionSlogan .imgSlogan img {
    width: 180px;
    height: 180px;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 15px;
  }
}
